<div id="unsubscribeconfirmation-box" class="modal fade padding-tb80" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
       
        <div class="modal-body">
                <div class="icon-logo"></div>
                <h2 class="text-center">{{ "Do you really want to cancel your membership?"|t }}</h2>
                <p class="text-center">{{ "If you still want to stay with us, click on 'Back' below."|t }}</p>
                <p class="text-center">{{ "If you prefer to leave LifePoints, click on 'Proceed'."|t }}</p>
                <div class="row text-center">
                   <div class="col-sm-12">
                    <a class="btn btn-secondary btn-round-lg btn-lg button" href="{{ url('<front>') }}">{{ "Back"|t }}</a>
                    &nbsp;&nbsp;&nbsp;
                    <a class="btn btn-blue btn-round-lg btn-lg button" id="emailunsubscribesubmitconfirm">{{ "Proceed"|t }}</a>
                      
                    </div>   
                </div>
            
        </div>
       
      </div>
  
    </div>
  </div>
       <div class="unsubscribeemail_page"></div>